* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.container {
  width: 300px;
  height: 300px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.item {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: inherit;
}


.body {
  margin: 0;
  padding: 0;
}

input {

  background: '#fff';
}

.box {
  width: 50%;
  height: 50%;
  
  background: var(--accent);
 
}