* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.body {
  margin: 0;
  padding: 0;
}

input {

  background: '#fff';
}

.box {
  width: 50%;
  height: 50%;
  
  background: var(--accent);
 
}